

body {

		BACKGROUND-COLOR: #808080;
}

font {
	font-family:"Georgia", "Arial", serif;
}

div.game {

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	BACKGROUND-COLOR: #000000;
	color: #ff0000;
	z-index: -100;

	PADDING: 5px 5px 5px 5px;

	font-family:"Courier New", monospace;
	font-size: 11px;
}

div.header {
	background-image: url("./../img/header1.png");
	background-repeat: repeat-x;
	position: absolute;
	top: -30px;
	left: 0px;
	width: 100%;
	height: 30px;
	BACKGROUND-COLOR: #707070;
	color: #cdcdcd;
	z-index: 0;

	PADDING: 5px 5px 5px 5px;
}

.tile_white {
	color: #ffffff;
}

.tile_green {
	color: #00ff00;
}

.tile_white {
	color: #ffffff;
}

.tile_red {
	color: #ff0000;
}

.tile_blue {
	color: #0000ff;
}

div.main {

	width: 420px;
BACKGROUND-COLOR: #101010;
COLOR: #40cd40;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none;
margin-left: auto ;
margin-right: auto ;
margin-top: 100px;

PADDING: 10px 10px 10px 10px;
BORDER: #404040 10px ridge;
font-family:"Georgia", "Arial", serif;
z-index: 1;
}

div.imgbox {
	width: 230px;
	height: 150px;
BACKGROUND-COLOR: #101010;
COLOR: #40cd40;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none
MARGIN: 10px 10% 10px 10px;  
PADDING: 5px 5px 5px 5px;
BORDER: #404040 1px groove;
position: relative;
z-index: -100;
float: left;
}


a,h2 {
COLOR: #cd4040;
}
